@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Fraunces:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    overflow-x: hidden;
}

a, li a{
    text-decoration: none;
}

.title{
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
    letter-spacing: 0.8rem;
}

.name-brand{
    font-weight: 600;
}

.menu{
    padding: 15px ;
}

.opt{
    padding: 10px;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: aliceblue;
}

.active:hover{
    font-family: 'Fraunces', sans-serif;
    font-weight: 600;
    color: black;
    background-color: aliceblue;
    border-radius: 50px;
}

.attribution {
    font-size: 11px; text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

#showcase{
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    position: relative;
    background: url('./images/desktop/image-header.jpg') no-repeat center center/cover;
    color: white;
}

.left{
    display:block;
    position: relative;
    height: 90vh;
    background: url('./images/desktop/image-graphic-design.jpg') no-repeat center center/cover;
}

.right{
    position: relative;
    height: 90vh;
    background: url('./images/desktop/image-photography.jpg') no-repeat center center/cover;
}

.img-gallery{
    width:100%;
    justify-self: center;
}

.pie{
    background-color: aquamarine;
}

.test{
    border:1px solid green;
}
