@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Fraunces:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    overflow-x: hidden;
}

a, li a{
    text-decoration: none;
}

.title{
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
    letter-spacing: 0.8rem;
}

.name-brand{
    font-weight: 600;
}

.box-menu{
    width: 100%;
}

.menu{
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: space-evenly;
    padding: 10px;
}

.menu-btn{
    position: absolute;
    cursor: pointer;
    color: aliceblue;
    top: 42px;
    right: 65px;
    z-index: 2;
    font-size: 2rem;
    display: none;
}



.attribution {
    font-size: 11px; text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

#showcase{
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    position: relative;
    color: white;
}

.show-ground{
    width:100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
}

.active{
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    color:black;
    background-color: aliceblue;
    font-family: 'Fraunces', sans-serif;
    font-size: 600;
}

.opt{
    color: aliceblue;
}

.selected:hover{
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    text-transform:uppercase;
    background-color: rgb(134, 199, 255);
    font-family: 'Fraunces', sans-serif;
    font-weight: bold;
    color:aliceblue;
    font-size: 0.8rem;
}

.text-content{
    color: darkgray;
}

/* Para el sub-rayado de Learn More:
mi-div::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: 4px;
    background-color: mi-color;
}

*/

.sub-title{
    font-size: 2rem;
    font-family: 'Fraunces', sans-serif;
    font-weight: 700 bold;
    color: rgb(66, 62, 62);

}

.yellow{
    border-bottom: hsl(51, 100%, 49%, .5) 5px solid;
    max-width:max-content;
}

.yellow:hover{
    border-bottom: rgba(255, 217, 0, 0.856) 5px solid;
}

.soft-red{
    border-bottom: hsl(7, 99%, 70%, .5) 5px solid;
    max-width: max-content;
}

.soft-red:hover{
    border-bottom: rgba(255, 30, 0, 0.5) 5px solid;
}

.to-learn{
    font-size: 0.8rem;
    font-family: 'Fraunces', sans-serif;
    font-weight:bolder;
    color: rgb(66, 62, 62);
    text-transform: uppercase;
}

.first{
    display: flex;
    flex-direction: row;
    max-width: 1440px;
}

.left{
    display:block;
    position: relative;
    width: 100%;
    height: 90vh;
}

.graphic-photo{
    position: absolute;
    z-index: 1;
}

.p-g-title{
    font-size: 2rem;
    font-family: 'Fraunces', sans-serif;
}

.p-g-text{
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    padding-top: 1.5em;
    padding-bottom: 3em;
    line-height: 1.5rem;
}

.graph-color{
    color:hsl(167, 40%, 24%);
}

.photo-color{
    color:hsl(198, 62%, 26%);
}

.client{
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
    text-transform:uppercase;
    letter-spacing: 0.5rem;
    color: hsl(232, 10%, 55%);
}

.img-client{
    border-radius: 50%;
    width: 20%;
    height: 20%;
}

.name{
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
    font-size:large;
    color:black;
}

.pro{
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    color: hsl(232, 10%, 55%);
    opacity: .5;
}

.img-gallery{
    width:100%;
    justify-self: center;
}

.pie{
    width: 100%;
    background-color: rgb(123, 241, 202);
    color: hsl(168, 34%, 41%);
    text-decoration: none;
    max-width: 1440px;
}

.pie-menu{
    color: hsl(168, 34%, 41%);
}

.pie-menu:hover{
    color: white;
}

.name-brand{
    font-weight: 1000;
}

@media (min-width: 350px) and (max-width: 750px){

    .menu-btn{
        display: block;
    }

    .nav-bar{
        position: absolute;
        width: 100%;
        height: 300px !important;
        margin-top: 100px !important;
        justify-content: center;
        align-items: center;
    }

    .box-menu{
        width: calc(100% - 70px) !important;
        height: 300px;
        justify-self: center;
    }

    .menu{
        display:none;
        width: 100%;
        height:100%;
        text-align: center;
        padding: 3rem;
        background-color: aliceblue;
    }

    .show{
        display: block !important;
    }

    .pad{
        padding-top: 3vh;
        font-size: large;
        font-weight: 600;
    }

    .active{
        background-color: rgb(250, 212, 0);
    }

    .selected{
        color: hsl(228, 45%, 44%);
    }

    #we-are{
        text-align: center;
    }

    .show-ground{
        display: none;
    }

    #showcase{
        background: url('https://github.com/RPinero-20/sunnyside-agency-landing-page-bootstrapped/blob/main/images/mobile/image-header.jpg?raw=true') no-repeat center center/cover;
        /* background: url('/images/mobile/image-header.jpg') no-repeat center center/cover; */
    }

    .first{
        display: flex;
        flex-direction: column;
    }

    #order{
        order: -1 !important;
    }

    #tyb{
        width: 100%;
        justify-self: center;
        text-align: center;
        order: 2 !important;
        padding: 2.5em;
        padding-top: 5em;
        padding-bottom: 5em;
    }

    .o-fit{
        object-fit: cover;
    }

    .client{
        letter-spacing: 0.3rem;
    }

    #c-test{
        display: grid !important;
        grid-template-columns: 1fr !important;
    }

    #galimg{
        width: 100%;
        display: grid !important;
        grid-template-columns: 1fr 1fr !important;
    }

    .pro{
        padding-bottom: 2.5em;
    }

    .name-brand{
        font-size: 3rem;
    }

    .opt{
        padding: 7px;
    }

}